@model IEnumerable<SonOfCod.Models.Subscriber>
@using System.Security.Claims
    
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome! Newsletter Info here!</h1>
<br />

@Html.ActionLink("Sign up for newsletter Oh My Cod", "Create")

<ol>
    @foreach (var listSubscriber in Model)
    {
        <li>
            <h4>Subscriber Name: @Html.DisplayFor(modelSubscriber => listSubscriber.Name)</h4>
            <h5>Email: @Html.DisplayFor(modelSubscriber => listSubscriber.Email)</h5>
            <h4>Favorite Sea Creature: @Html.DisplayFor(modelSubscriber => listSubscriber.FaveSeaCreature)</h4>
            <br />
        </li>
    }
</ol>

