@model IEnumerable<SonOfCod.Models.Subscriber>
@using System.Security.Claims
    
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widebar"></div>
<div class="container-down container">

    <h1 class="mid-header">— Oh My Cod! —</h1>
    <h2 class="mid-header small-header">Son of Cod's exciting nautical newsletter</h2>
    <br />

    @if (User.Identity.IsAuthenticated)
    {
        <h2 class="mid-header">— Current mailing list —</h2>
        <br />
        <ol>
            @foreach (var listSubscriber in Model)
            {
                <li>
                    Subscriber Name: @Html.DisplayFor(modelSubscriber => listSubscriber.Name)
                    <br />
                    Email: @Html.DisplayFor(modelSubscriber => listSubscriber.Email)
                    <br />
                    Favorite Sea Creature: @Html.DisplayFor(modelSubscriber => listSubscriber.FaveSeaCreature)
                    <br />
                </li>
            }
        </ol>
    }
    else
    {
        <h2>@Html.ActionLink("Sign up for the newsletter here!", "Create")</h2>
    }

</div>
