@model IEnumerable<SonOfCod.Models.Subscriber>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Hi</h2>
}
else
{

<h2>Blah1</h2>
<p>BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAHBLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH</p>

<h2>Blah2</h2>
<p>BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAHBLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH</p>

<h2>Blah3</h2>
<p>BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAHBLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH</p>

<h2>Blah4</h2>
<p>BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAHBLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH BLAHBLAHBLAH</p>
}